
#root{
  width: 100%;
  background-color: #fff;
}

.allProducts{
  background-color: red;
  overflow: auto;
  width: 200px;
  max-height: 400px;
  margin: 30px auto;
  background-repeat: no-repeat;
  background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;
  background-attachment: local, local, scroll, scroll;
  padding: 30px;
  border: none;
  background: radial-gradient(at top, rgba(0,0,0,.2),transparent 70%) no-repeat;
  cursor: pointer;
}

ul.nav li {
  margin-left: 10px;
}

